<% provide(:title, 'Sign up') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '新規作成') %>
<h1>アカウント作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          入力エラーが<%= @user.errors.count %>件ありました。
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= form_with model: @user, url: users_path(@user), local: true, method: :post do |f| %>
      <%= f.label "名前", class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label "メールアドレス", class: "label-#{yield(:class_text)}" %>
      <%= f.email_field :email, class: "form-control" %>
      
      <%= f.label "パスワード", class: "label-#{yield(:class_text)}" %>
      <%= f.password_field :password, class: "form-control" %>
      
      <%= f.submit "新規作成", class: "btn btn-primary btn-block btn-signup btn-#{yield(:button_text)}" %>
    <% end %>
  </div>
</div>
