<h1>都道府県</h1>
<p class="center">クリックするとその都道府県内の市区町村が表示されます</p>
<% if logged_in? %>
  <% if current_user.admin? %>
    <div class="col-md-10 col-md-offset-1">
      <div class="csv_holder">
        <%= form_tag import_prefs_path, multipart: true do %>
        <%= file_field_tag :file %>
      </div>
      <div>
        <%= submit_tag "都道府県をインポート" %>
      </div>
      <% end %>
  <% end %>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= will_paginate %></th>
      </tr>
    </thead>
    <% @prefs.each do |pref| %>
      <tr>
        <td>
          <%= link_to pref_cities_path(pref), method: :get do %>
          <%= pref.pref_name %>
        </td>
      </tr>
          <% end %>
    <% end %>
  </table>
  <%= will_paginate %>
</div>
