<h1>都道府県</h1>
<p class="center">クリックするとその都道府県内の市区町村が表示されます</p>
<% if logged_in? %>
  <% if current_user.admin? %>
    <div class="col-md-10 col-md-offset-1">
      <div class="csv_holder">
        <%= form_tag import_prefs_path, multipart: true do %>
        <%= file_field_tag :file %>
      </div>
      <div>
        <%= submit_tag "都道府県をインポート" %>
      </div>
      <% end %>
  <% end %>
<% end %>

<div class="container">
  <% @prefs.each do |pref| %>
    <%= link_to pref_cities_path(pref), method: :get do %>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <%= pref.pref_name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
