<h1><%= @pref.pref_name %></h1>

<p class="center">クリックすると市区町村が表示されます</p>
<% if logged_in? %>
  <% if current_user.admin? %>
    <div class="col-md-10 col-md-offset-1">
      <div class="csv_holder">
        <%= form_tag import_pref_cities_path, multipart: true do %>
        <%= file_field_tag :file %>
      </div>
      <div>
        <%= submit_tag "市区町村をインポート" %>
      </div>
      <% end %>
  <% end %>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= will_paginate %></th>
      </tr>
    </thead>
    <% @cities.each do |city| %>
      <tr>
        <td>
          <%= link_to pref_city_city_topics_path(@pref, city), method: :get do %>
          <%= city.city_name %>
        </td>
      </tr>
          <% end %>
    <% end %>
  </table>
  <%= will_paginate %>
</div>
