<h1><%= @pref.pref_name %></h1>

<p class="center">クリックすると市区町村が表示されます</p>
<% if logged_in? %>
  <% if current_user.admin? %>
    <div class="col-md-10 col-md-offset-1">
      <div class="csv_holder">
        <%= form_tag import_pref_cities_path, multipart: true do %>
        <%= file_field_tag :file %>
      </div>
      <div>
        <%= submit_tag "市区町村をインポート" %>
      </div>
      <% end %>
  <% end %>
<% end %>

<div class="container">
  <% @cities.each do |city| %>
    <%= link_to pref_city_city_topics_path(@pref, city), method: :get do %>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <%= city.city_name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
