<% provide(:title, 'All Drafts') %>
<h1>投稿一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <% if @drafts.empty? %>
    <p>まだ投稿はありません</p>
  <% else %>
    <table class="table table-condensed table-hover" id="table-users">
      <% @drafts.each do |draft| %>
        <tr>
          <td><%= draft.name %>: <%= draft.title %>
            <% if current_user?(@user) %>
              <%= link_to "削除", user_draft_path(current_user, draft), method: :delete, class: "btn btn-sm btn-danger",
                  data: { confirm:"削除してよろしいですか？" } %><br>
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse<%= draft.id %>"><button type="submit" class="btn btn-info">詳細・編集</button></a>
                    </h4>
                  </div>
                  
                  <div id="collapse<%= draft.id %>" class="panel-collapse collapse">
                    <ul class="list-group">
                      <table class="table table-bordered table-condensed table-hover">
                        <tr>
                          <td>実施期間</td>
                          <td><%= draft.period %></td>
                        </tr>
                        <tr>
                          <td>実施内容</td>
                          <td><%= draft.content %></td>
                        </tr>
                        <tr>
                          <td>対象者</td>
                          <td><%= draft.target %></td>
                        </tr>
                        <tr>
                          <td>受付窓口</td>
                          <td><%= draft.counter %></td>
                        </tr>
                        <tr>
                          <td>リンク</td>
                          <td><%= draft.link %></td>
                        </tr>
                      </table>
                    </ul>
                    <%= render 'form' %>
                  </div>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %> 
</div>
