<header class="navbar navbar-fixed-top navbar-inverse", id="header">
  <div class="container">
    <%= link_to "補助金・助成金・減免検索ツール", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                メニュー <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "マスタ投稿", "#" %></li>
                <li><%= link_to "投稿依頼一覧", user_drafts_path(current_user), method: :get %></li>
                <li><%= link_to "投稿者一覧", users_path, method: :get %></li>
                <li><%= link_to "管理者設定", edit_user_path(current_user) %></li>
                <li class="divider"></li>
              <li>
                 <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
          <% end %>
          <% unless current_user.admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                メニュー <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "新規投稿", new_draft_path(current_user), method: :get %></li>
                <li><%= link_to "投稿ログ一覧", drafts_path(current_user), method: :get %></li>
                <li><%= link_to "ユーザー設定", edit_user_path(current_user) %></li>
                <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
              </ul>
            </li>
          <% end %>
        <% else %>
          <li><%= link_to "ログイン", login_path, method: :get %></li>
        <% end %>
      </ul>
    </nav>
  </div>
